@tailwind base;
@tailwind components;
@tailwind utilities;

body,html,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.circle-background{
  fill: none;
  stroke: #384440;
}

.circle-progress{
  fill: none;
  stroke: #eeff87;
  stroke-linecap: round;
  stroke-linejoin: round;
}

::-webkit-scrollbar{
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #5469c5;
  -webkit-height: 10px;
  border-radius: 10px;
}